/* colors */
$nav-links-hover: #8434ba;
$main-bg-color: #0e1014;
$main-font-color: #e4e5ea;
$purple-light-bg-color: #833ab4;
$red-light-bg-color: #961a1a;
$button-bg-color: #4077f3;
$footer-header-color: #656566;

/* gradients, filters and shadows */
$red-ball-gradient: radial-gradient(
  82.3% 82.3% at 27.25% 26.5%,
  rgba(255, 208, 208, 0.54) 0%,
  rgba(212, 93, 93, 0.26) 59.67%,
  rgba(167, 49, 49, 0.25) 78.59%,
  rgba(130, 25, 25, 0.25) 100%
);
$purple-ball-gradient: radial-gradient(
  82.3% 82.3% at 27.25% 26.5%,
  rgba(236, 208, 255, 0.64) 0%,
  rgba(161, 93, 207, 0.24) 59.67%,
  rgba(118, 49, 164, 0.21) 78.59%,
  rgba(86, 24, 128, 0.23) 100%
);
$red-ball-filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
$small-red-ball-filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25))
  blur(2.5px);
$purple-ball-filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25))
  blur(5px);
$light-filter: blur(196px);
$ball-backdrop-filter: blur(2px);
$first-linear-gradient: #fcb045;
$second-linear-gradient: #ff3f78;
$right-side-header-gradient: var(
  --gradient,
  linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
);
$line-mobile-gradient: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
$header-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* font-families */
$inter-font-family: "Inter", sans-serif;
$montserrat-font-family: "Montserrat", sans-serif;
